# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* List popoular languages for Data Science
* List commonly used libraries for Data Science
* List Data Sceince tools

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|mySQL|
|ceph|
|cassandra|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers.

In [3]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60

In [5]:
200/60

3.3333333333333335

## Author
Hana